@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap');
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Bebas Neue', cursive; */
/* font-family: 'Roboto', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
:root{
  --blue: #00C5FF;
  --Blue: #57D6FF;
  --Tgrey: #ABABAB;
}
body{
  background: #141C24;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #141C24;
}
::-webkit-scrollbar-thumb{
  background: var(--blue);
  border-radius: 10px;
}

/*----Header----*/
#Header{
  width: 100%;
  height: 100%;
  position: relative;
}

.dn{
  display: none;
}
#Header .slider{
  width: 1400px;
  height: 786.6px;
  overflow: hidden;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 50%;
  border-radius: 15px;
  transform: translateX(-50%);
  box-shadow: 0 0 80px rgba(9, 189, 242, 0.6);
  border: 0.5px solid #57D6FF;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}
.slider .slides{
  width: 4600px;
  height: inherit;
  display: flex;
}
.slider .slides input{
  display: none;
}
.slide{
  width: 1400px;
  transition: 2s;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  /* margin-left: -20%; */
  margin-left: -1400px;
}
#radio3:checked ~ .first{
  /* margin-left: -40%; */
  margin-left: -2800px;
}



/* #Header .bg1{
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 80px rgba(9, 189, 242, 0.6);
  border: 0.5px solid #57D6FF;
  border-radius: 15px;
  width: 1400px;
  height: 786.6px;
  position: absolute;
  z-index: -1;
} */
#Header .bg1{
  width: 1400px;
  height: 786.6px;
}
#Header .bg{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1400px;
  height: 786.6px;
  background: radial-gradient(49.95% 96.01% at 50.05% 49.91%, 
                            rgba(82, 125, 139, 0) 0%, 
                            rgba(82, 125, 139, 0.5) 100%), 
                            linear-gradient(0deg, 
                            rgba(0, 0, 0, 0.2), 
                            rgba(0, 0, 0, 0.2)), transparent;
  border-radius: 15px;
}
#Header nav{
  top: 0;
  width: 100%;
  /* position: absolute;
  top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  background: #141C24;
}
nav img{
  margin-right: 90px;
}
.logo__small{
  display: none;
}
.navLinks{
  display: flex;
  align-items: center;
}
.navLinks li{
  list-style: none;
  margin: 0 25px;
}
.navLinks li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 4px;
}
.navLinks li:nth-child(1) a{
  border-bottom: 1px solid var(--blue);
}
.navLinks li a:hover{
  color: var(--blue);
}

.content{
  margin-top: 70px;
  text-align: center;
}
.content .hr{
  background: #fff;
  transform: rotate(90deg);
  width: 70px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.content h3{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.content h1{
  font-size: 48px;
  font-weight: 400;
  color: #fff;
}
.content a{
  display: inline-block;
  text-decoration: none;
  margin-top: 90px;
  clip-path: polygon(85% 0, 100% 24%, 100% 100%, 0 100%, 0 0);
  background: #fff;
  color: #000;
  padding: 14px 80px;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Bebas Neue', cursive;
}
.content .hr2{
  background: #fff;
  transform: rotate(90deg);
  width: 180px;
  height: 1px;
  margin: 0 auto;
  margin-top: 150px;
}
.burger__menu{
  display: none;
}


#HowItWorks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 150px 100px ;
  margin: 150px 5% 0;
  border-left: 1px solid rgba(255, 255, 255, 0.15);;
}
.second__img{
  display: none;
}
/* .LineMain1{
  width: 1000px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  transform: rotate(90deg);
} */
h6{
  font-size: 16px;
  font-weight: 300;
  color: var(--Blue);
}
.h6{
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.h6 .line{
  width: 50px;
  height: 1px;
  background: var(--Blue);
  margin-right: 35px;
}
#HowItWorks .content1 h2{
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 60px;
}
#HowItWorks .content1 p{
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  color: #ABABAB;
  max-width: 330px;
}
#HowItWorks .content1 .line2{
  width: 260px;
  height: 1px;
  margin: 25px 0;
  background: #555;
}
.btn{
  display: inline-block;
  text-decoration: none;
  color: var(--blue);
  margin-top: 75px;
  border-bottom: 1px solid var(--blue);
  padding: 6px 0;
  transition: color .1s;
}
.btn:hover{
  color: #fff;
  border-color: #fff;
}



#Play{
  margin: 0 5%;
  padding-bottom: 50px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#Play .h6{
  display: flex;
  justify-content: center;
}
#Play .h6 .line{
  margin-right: 30px;
}
#Play h2{
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}
#Play .icons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 100px;
}
.lines{
  display: none;
}
.icons .line2{
  width: 70px;
  height: 1px;
  background: var(--Blue);
}
.icons .icon h5{
  font-size: 22px;
  font-weight: 300;
  color: #f1f1f1;
  margin-top: 12px;
}
#Play a{
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: var(--blue);
  padding: 3px 8px;
  border-bottom: 1px solid var(--blue);
  transition: color .1s;
}
#Play a:hover{
  color: #fff;
  border-color: #fff;
}



#Sub{
  text-align: center;
  margin: 0 5%;
  padding: 100px 0;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#Sub .h6{
  display: flex;
  justify-content: center;
}
#Sub .h6 .line{
  margin-right: 30px;
}
#Sub h2{
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 80px;
}
#Sub .cards{
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  display: block;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgba(0, 197, 255, 0.15);
  filter: blur(156px);
  position: absolute;
  z-index: -1;
}
#Sub .cards .card{
  padding: 75px 40px 45px;
  background: #1F2631;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: left;
  margin: 5px;
}
.cards .card h1{
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  margin-bottom: 15px;
}
.cards .card p{
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}
.cards .card .p{
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  color: var(--Tgrey);
  margin-bottom: 60px;
}
.cards .card a{
  display: inline-block;
  text-decoration: none;
  color: #141C24;
  font-size: 24px;
  font-weight: 400;
  padding: 15px 120px;
  background: var(--blue);
  border-radius: 5px;
}

.Сcenter {
  padding: 75px 40px 45px;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align-last: left;
  margin: 5px;
}
.Сcenter h1{
  font-size: 36px;
  line-height: 42px;
  color: #141C24;
  margin-bottom: 15px;
}
.Сcenter p{
  font-size: 24px;
  font-weight: 500;
  color: #141C24;
  margin-bottom: 20px;
}
.Сcenter .p{
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  color: #000;
  margin-bottom: 60px;
}
.Сcenter a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #141C24;
  font-size: 24px;
  font-weight: 400;
  padding: 15px 120px;
  border-radius: 5px;
}
.line3{
  margin: 90px auto;
  width: 600px;
  height: 1px;
  background: var(--blue);
}


#Cross{
  padding: 5% 12%;
  position: relative;
}
.Ctext{
  text-align-last: left;
}
.Ctext .h6 .line{
  margin-right: 30px;
}
.Ctext h2{
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  line-height: 40px;
  margin-bottom: 80px;
}
.Ctext p{
  font-size: 22px;
  font-weight: 300;
  color: var(--Tgrey);
  line-height: 32px;
}
.Ctext .btn{
  margin-top: 50px;
}
.circle2{
  display: block;
  top: 0;
  right: 3%;
  width: 460px;
  height: 460px;
  border-radius: 50%;
  background: rgba(0, 185, 239, 0.15);
  position: absolute;
  z-index: -1;
  filter: blur(250px);
}
#Cross img{
  display: block;
  top: 0;
  right: 0%;
  position: absolute;
}



#Map{
  padding: 80px 5%;
  margin-top: 250px;
  text-align: center;
}
#Map .h6{
  display: flex;
  justify-content: center;
}
#Map .h6 .line{
  margin-right: 30px;
}
#Map h2{
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}



#Footer{
  padding: 50px 10%;
  display: flex;
  justify-content: space-between;
  background: #171717;
}
#Footer .l{
  display: flex;
  align-items: center;
}
#Footer .l img{
  width: 200px;
   margin-right: 30px;
}
#Footer .l p{
  font-size: 12px;
  font-weight: 400;
  color: #ececec;
  margin-right: 20px;
  text-transform: uppercase;
}
#Footer .l .p{
  font-size: 12px;
  font-weight: 400;
  color: #838383;
  text-transform: uppercase;
}
#Footer .r{
  display: flex;
  align-items: center;
}
.r a{
  font-size: 12px;
  font-weight: 200;
  margin-right: 50px;
  text-decoration: none;
  color: #fff;
}
.r ion-icon{
  color: #fff;
  margin-right: 10px;
  font-size: 17px;
  cursor: pointer;
}
.social{
  display: flex;
  justify-content: center;
}



/*----REGISTER----*/
.conteiner{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 5%;
}
.conteiner .main{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 45px;
}
.conteiner .main .arrow{
  width: 100%;
  margin-right: 60px;
}
.conteiner .main .arrow ion-icon{
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  width: 25px;
  color: #fff;
}
.conteiner .main .a{
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  margin-right: 40px;
}
.conteiner .main a{
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 40px;
}
form{
  display: flex;
  flex-direction: column;
}
form input{
  display: inline-block;
  width: 400px;
  border-radius: 5px;
  padding:  20px 25px;
  color: rgba(0, 0, 0, 0.5);
  border: 0;
  outline: 0;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
form .Button{
  display: inline-block;
  text-decoration: none;
  width: 250px;
  margin: 0 auto;
  margin-top: 15px;
  clip-path: polygon(85% 0, 100% 24%, 100% 100%, 0 100%, 0 0);
  background: #fff;
  color: #000;
  padding: 13px 40px;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}
.conteiner .info{
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.conteiner .info label{
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 20px;
}
.conteiner .info label input{
  position: absolute;
  transform: scale(0);
}
.conteiner .info label input:checked ~ .checkbox{
  transform: rotate(45deg);
  width: 10px;
  margin-left: 15px;
  border-color: #24c78e;
  border-top-color: transparent;
  border-left-color: transparent;
}
.conteiner .info label .checkbox{
  display: block;
  width: 25px;
  height: 25px;
  border: 3px solid #434343;
  transition: all .375s ease;
}
.conteiner .info p{
  font-size: 12px;
  font-weight: 200;
  color: #fff;
  line-height: 15px;
  text-align-last: left;
}

.conteiner .text{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conteiner .text .line{
  width: 120px;
  height: 1px;
  background: rgba(255, 255, 255, .5);
}
.conteiner .text h1{
  margin: 0 10px;
  font-size: 12px;
  font-weight: 200;
  color: #fff;
}
.conteiner .icon{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.conteiner .icon a{
  width: 35px;
  height: 35px;
}
.conteiner .icon a img{
  width: 25px;
  margin: 5px 10px;
}



/*----DOWNLOAD----*/
#download{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#download .text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
#download .text a{
  text-decoration: none;
  color: #fff;
  width: 35px;
  height: 35px;
  margin-right: 65px;
}
#download .text a ion-icon{
  font-size: 35px;
}
#download .text h1{
  font-size: 45px;
  font-weight: 400;
  color: #fff;
}
.os{
  display: flex;
  justify-content: center;
}
.os a{
  width: 100px;
  height: 100px;
  margin-left: 60px;
}

/*----ENTER----*/
.E{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.E h1{
  font-size: 12px;
  font-weight: 200;
  color: #fff;
  margin-right: 35px;
}
.E .Button{
  display: inline-block;
  text-decoration: none;
  clip-path: polygon(85% 0, 100% 24%, 100% 100%, 0 100%, 0 0);
  background: #fff;
  color: #000;
  padding: 13px 100px;
  font-size: 24px;
  font-weight: 400;
}


/*----EMAIL----*/
#email{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#email .text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
#email .text a{
  text-decoration: none;
  color: #fff;
  width: 35px;
  height: 35px;
  margin-right: 65px;
}
#email .text a ion-icon{
  font-size: 25px;
}
#email .text h2{
  font-size: 39px;
  font-weight: 400;
  color: #fff;
}
#email .main_text{
  margin-top: -45px;
}
#email .main_text p{
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  color: #ABABAB;
  letter-spacing: 1px;
}
@media only screen and (max-width: 450px){
  #Header .slider{
    display: none;
  }
  .bg{
    display: none;
  }
  .dn{
    display: flex;
    z-index: -4;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
  }
  #Header nav{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 40px 5%;
  }
  .logo__small{
    display: block;
    z-index: 99;
  }
  .navLinks{
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    right: -100%;
    background: #141C24;
    padding-top: calc(190px - 15px);
    height: 1000px;
    transition: right .3s ease;
  }
  .navLinks.active{
    right: 0%;
  }
  nav img{
    margin: 0;
    display: none;
  }
  .navLinks li{
    padding: 15px 0;
    width: 90%;
    text-align: center;
  }
  .navLinks li:nth-child(1) a{
    border: 0;
  }
  .navLinks li:nth-child(1){
    border-bottom: 1px solid var(--blue);
  }
  .content{
    margin: 250px auto 0;
    padding: 0 10%;
  }
  .hr{
    display: none;
  }
  .content h3{
    max-width: 142px;
    text-align: left;
  }
  .content h1{
    max-width: 284px;
    text-align: left;
    line-height: 60px;
  }
  .content a{
    margin-top: 130px;
  }
  .burger__menu{
    display: block; 
  }
  .burger__menu::before{
    content: '';
    height: 5px;
    width: 50px;
    background: #fff;
    z-index: 99;
    position: absolute;
    top: 5%;
    right: 5%;
  }
  .burger__menu::after{
    content: '';
    height: 5px;
    width: 50px;
    background: #fff;
    z-index: 99;
    position: absolute;
    top: calc(5% + 15px);
    right: 5%;
  }
  #HowItWorks{
    flex-direction: column-reverse;
    border: 0;
    padding: 0 5%;
    margin: 0;
    margin-top: 100px;
  }
  .first__img{
    display: none;
  }
  .second__img{
    display: flex;
    width: 100%;
  }
  #Play{
    border: 0;
    padding: 100px 5% 0;
    margin: 0;
  }
  .line2{
    display: none;
  }
  #Play .icons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    position: relative;
  }
  .lines{
    display: block;
  }
  .diagonal{
    width: 200px;
    height: 1px;
    position: absolute;
    top: 35%;
    left: 50%;
    background-color: var(--blue);
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 0 0 15px var(--blue);
  }
  .lines::before{
    content: '';
    width: 80px;
    height: 1px;
    background-color: var(--blue);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px var(--blue);
  }
  .lines::after{
    content: '';
    width: 80px;
    height: 1px;
    background-color: var(--blue);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px var(--blue);
  }
  #Sub{
    display: flex;
    flex-direction: column;
    border: 0;
  }
  #Sub .cards{
    flex-direction: column;
  }
  #Sub .cards .card{
    margin: 17px auto;
    width: 100%;
  }
  .Сcenter{
    margin: 17px auto;
    width: 100%;
  }
  .Сcenter a{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
  #Sub .cards .card a{
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }
  #Sub h2{
    margin-bottom: calc(58px - 17px);
  }
  .line3{
    display: none;
  }
  #Cross{
    display: flex;
    flex-direction: column;
  }
  #Cross img{
    width: 100%;
    top: 25%;
  }
  .Ctext{
    position: relative;
  }
  .Ctext h2{
    margin-bottom: 550px;
  }
  .circle2{
    background: red;
    filter: blur(0);
    width: 400px;
    height: 400px;
    display: none;
  }
  #Map{
    margin: 0;
  }
  #Map img{
    width: 100%;
  }
  .h6{
    margin: 0;
    display: flex;
    justify-content: center;
  }
  #Footer{
    flex-direction: column-reverse;
    align-items: center;
  }
  #Footer .l{
    flex-direction: column;
  }
  #Footer .r{
    flex-direction: column-reverse;
  }
  .r a{
    margin: 0;
  }
  .main{
    flex-direction: column;
    width: 100%;
  }
  form{
    align-items: center;
    width: 100%;
  }
  form input{
    width: 100%;
  }
  #download{
    padding: 5%;
  }
  #download .text{
    margin-bottom: 70px;
  }
  .os{
    flex-direction: column;
    align-items: center;
  }
  .os a{
    margin: 0;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 850px){
  #Header .slider{
    /* display: none; */
    width: 800px;
    height: 500px;
  }
  .slider .slides{
    width: calc(800px * 3);
    display: flex;
  }
  .slide{
    text-align: center;
    width: 800px;
    height: 500px;
    overflow: hidden;
    transition: 2s;
  }
  #Header .bg1{
    width: 800px;
    height: 500px;
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -800px;
  }
  #radio3:checked ~ .first{
    margin-left: -1600px;
  }
  #Header .bg{
    width: 800px;
    height: 500px;
  }
  #Header nav{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 40px 5%;
  }
  .logo__small{
    display: block;
    z-index: 99;
  }
  .navLinks{
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    right: -100%;
    background: #141C24;
    padding-top: calc(190px - 15px);
    height: 1000px;
    transition: right .3s ease;
  }
  .navLinks.active{
    right: 0%;
  }
  nav img{
    margin: 0;
    display: none;
  }
  .navLinks li{
    padding: 15px 0;
    width: 90%;
    text-align: center;
  }
  .navLinks li:nth-child(1) a{
    border: 0;
  }
  .navLinks li:nth-child(1){
    border-bottom: 1px solid var(--blue);
  }
  .content{
    margin: 50px auto 0;
    padding: 0 10%;
  }
  .hr{
    display: none;
  }
  .content h1{
    line-height: 60px;
    opacity: .6;
  }
  .content a{
    margin-top: 160px;
  }
  .burger__menu{
    display: block; 
  }
  .burger__menu::before{
    content: '';
    height: 5px;
    width: 50px;
    background: #fff;
    z-index: 99;
    position: absolute;
    top: 5%;
    right: 5%;
  }
  .burger__menu::after{
    content: '';
    height: 5px;
    width: 50px;
    background: #fff;
    z-index: 99;
    position: absolute;
    top: calc(5% + 15px);
    right: 5%;
  }
  #HowItWorks{
    flex-direction: column-reverse;
    border: 0;
    padding: 0 5%;
    margin: 0;
    margin-top: 100px;
  }
  .first__img{
    display: none;
  }
  .second__img{
    display: flex;
    width: 100%;
  }
  #Play{
    border: 0;
    padding: 100px 5% 0;
    margin: 0;
  }
  .line2{
    display: none;
  }
  #Play .icons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    position: relative;
  }
  .lines{
    display: block;
  }
  .diagonal{
    width: 200px;
    height: 1px;
    position: absolute;
    top: 35%;
    left: 50%;
    background-color: var(--blue);
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 0 0 15px var(--blue);
  }
  .lines::before{
    content: '';
    width: 80px;
    height: 1px;
    background-color: var(--blue);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px var(--blue);
  }
  .lines::after{
    content: '';
    width: 80px;
    height: 1px;
    background-color: var(--blue);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px var(--blue);
  }
  #Sub{
    display: flex;
    flex-direction: column;
    border: 0;
  }
  #Sub .cards{
    flex-direction: column;
  }
  #Sub .cards .card{
    margin: 17px auto;
    width: 370px;
  }
  .Сcenter{
    margin: 17px auto;
    width: 370px;
  }
  .Сcenter a{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
  #Sub .cards .card a{
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }
  #Sub h2{
    margin-bottom: calc(58px - 17px);
  }
  .line3{
    display: none;
  }
  #Cross{
    display: flex;
    flex-direction: column;
  }
  #Cross img{
    /* width: 100%; */
    max-width: 700px;
    top: 15%;
  }
  .Ctext{
    position: relative;
  }
  .Ctext h2{
    margin-bottom: 650px;
  }
  .circle2{
    background: red;
    filter: blur(0);
    width: 400px;
    height: 400px;
    display: none;
  }
  #Map{
    margin: 0;
  }
  #Map img{
    width: 100%;
  }
  .h6{
    margin: 0;
    display: flex;
    justify-content: center;
  }
  #Footer{
    /* flex-direction: column-reverse; */
    align-items: center;
  }
  #Footer .l{
    /* flex-direction: column; */
  }
  #Footer .r{
    /* flex-direction: column-reverse; */
  }
  .r a{
    margin: 0;
  }
  .main{
    flex-direction: column;
    width: 100%;
  }
  form{
    align-items: center;
    width: 100%;
  }
  form input{
    width: 100%;
  }
  #download{
    padding: 5%;
  }
  #download .text{
    margin-bottom: 70px;
  }
  .os{
    flex-direction: column;
    align-items: center;
  }
  .os a{
    margin: 0;
    margin-bottom: 30px;
  }
}